NEXT_PUBLIC_SUPABASE_URL=https://fynxzddrgaijfifvylj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5bnh6ZGRyZ2FpamZpZnZseWxqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgyNjY1NzksImV4cCI6MjEwMzg0MjU3OX0.H7VfcRC1Y7olNMpJ7bQKc-_WjWQbBrLJqKR1-3T74xU
